*{
    margin:0;
    padding:0;
}
.online-courses{
    width:100%;
   padding:60px 0px; 
}
.online-courses h2{
    text-align: center;
    font-weight:700;
    font-size:36px;
    margin-bottom:60px;
}

.oc-card{
    width:95%;
    box-shadow:0px 20px 40px 0px rgba(0,0,0,0.10);
    margin:0px 10px;
    padding:20px 20px;
    border-radius: 18px;
}
.content {
    margin:20px 0px 40px;
}
.content h3{
    font-size:24px;
}
 .btns a{
     background: #21B573;
    border-radius: 40px;
   border:1px solid #21B573;
    font-family:Roboto;
    padding:8px 28px;
    color:white;
    text-decoration: none;
}
.oc-foot{
    display:flex;
    justify-content:space-between;
    padding-top:30px;
}
.Testimonial{
    padding:60px 0px;
}
.t-img{
    text-align: right;
}
.Testimonial  h2{
    text-align: center;
    font-weight:700;
    font-size:36px;
    margin-bottom:60px;
}

/***footer section***/
footer{
    background:#282531;
    color:white;
    padding:50px 0px 15px;
}
.f-para p{
    width:75%;
}
.Copyright{
text-align:center;
color: #CDCDCD;
}
h6{
    margin-left:30px;
}
footer ul li{
    list-style-type:none;
    margin-bottom:10px;
}

